@keyframes wave {
  0%,
  100% {
    transform: translateY(0) scale(1.1);
  }
  50% {
    transform: translateY(-15px) scale(1.1);
  }
}

.waveAnimation {
  animation: wave 3s ease-in-out infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinSlow {
  animation: spin-slow 8s linear infinite;
}
